.settings {
	.row {
		padding-bottom: $gutter-margin;
		border-bottom: 1px solid white;
	}

	.degree-notation {
		.degree-toggle {
			p {
				display: inline-block;
				margin-right: $gutter-margin;
				font-size: $font-size-large;

				&:after {
					content: '/';
					padding-left: $gutter-margin;
				}

				&:last-child {
					margin-right: 0;

					&:after {
						display: none;
					}
				}
			}
		}
	}

	.locations-saved {
		ul {
			li {
				font-size: $font-size-default;
			}
		}
	}

	.locations-history {
		ul {
			li {
				font-size: $font-size-default;
			}
		}
	}
}
