// Colors
$color-primary: 'black';
$color-secondary: #fff;
$color-tertiary: '';

// Fonts
$font-size-default: 14px;
$font-size-small: 12px;
$font-size-large: 18px;

// Spacing
$gutter-margin: 15px;

// Detail page
