<search-bar></search-bar>

<div class="detail-container">
  <div class="header">
    <div class="row">
      <div class="col-sm-2">
        <a ui-sref="home">Back</a>
      </div>

      <div class="col-sm-8">
        {{ address }}
      </div>

      <div class="col-sm-2">
        <a ui-sref="settings">Settings</a>
      </div>
    </div>
  </div>

  <div class="main-content">
    <div class="row">
      <div class="weather-icon col-sm-4">
        <img src="dist/images/icons/{{ weatherIcon }}" alt="{{ weatherIcon }}">
        <br /  >
        lolololol
      </div>

      <div class="weather-temperature col-sm-8">
        <div class="row">
          Temperature: {{ temperature }}°
        </div>

        <div class="row">
          Feels like: {{ apparentTemp }}°
        </div>

        <div class="row">
          <div class="min-temperature col-sm-6">Min: {{ minTemp }}°</div>
          <div class="max-temperature col-sm-6">Max: {{ maxTemp }}°</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="extra-data">
        <div class="col-sm-4">Humidity: {{ humidity }}</div>
        <div class="col-sm-4">Windspeed: {{ windSpeed }}</div>
        <div class="col-sm-4">Windbearing: {{ windBearing }}</div>
      </div>
    </div>

    <div class="row">
      <div class="summary col-sm-12">
        <p>{{ summary }}</p>
      </div>
    </div>
  </div>
</div>
