<div class="detail-container">
  <div class="header">
    <div class="row">
      <div class="col-sm-2">
        <a ng-click="goHome()">Back</a>
      </div>

      <div class="col-sm-8">
        <div class="row">
          <div class="current-address">
            <h1>{{ address }}</h1>
          </div>
        </div>

        <div class="row">
          <div class="current-date">
            <h2>{{ currentDate | date:'fullDate' }}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-content">
    <div class="row">
      <div class="weather-container">
        <div class="weather-icon col-sm-4">
          <canvas id="{{ weatherIcon }}" width="128" height="128"></canvas>
        </div>

        <div class="weather-temperature col-sm-8">
          <div class="row">
            <div class="temperature col-sm-12" ng-show"temp">
              <p>{{ temp }}°</p>
            </div>
          </div>

          <div class="row">
            <div class="apparent-temperature col-sm-12" ng-show="apparentTemp">
              <p>Feels like: {{ apparentTemp }}°</p>
            </div>
          </div>

          <div class="row">
            <div class="min-temperature col-sm-6" ng-show="minTemp">
              <p>Min: {{ minTemp }}°</p>
            </div>

            <div class="max-temperature col-sm-6" ng-show="maxTemp">
              <p>Max: {{ maxTemp }}°</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="weather-extra-data-container">
        <div class="humidity col-sm-4" ng-show="humidity">
          <p>Humidity: {{ humidity }}</p>
        </div>

        <div class="wind-speed col-sm-4" ng-show="windSpeed">
          <p>Windspeed: {{ windSpeed }}</p>
        </div>

        <div class="wind-bearing col-sm-4" ng-show="windDirection">
          <object type="image/svg+xml" data="dist/images/compass.svg" class="compass-icon">Your browser does not support SVG</object>
          <p>{{ windDirection }}</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="summary col-sm-12" ng-show="summary">
        <p>{{ summary }}</p>
      </div>
    </div>
  </div>
</div>
